  <!DOCTYPE html>
  <html lang="en">
  <%- include ("./_head",{titulo: "App | Tours"}); %>

  <body>
    <!------------------1.0 HEADER ------------->
    <%- include ("./_header"); %>

    <!-- ----------------2.0 MAIN ------------->
    <main class="main">
      <div class="tarjeta-contenedor">
        <% dataTours.forEach(function(element){ %>
        <div class="tarjeta">
          <div class="tarjeta--cabezera">
            <div class="tarjeta--figura">
              <div class="tarjeta--figura-overlay">&nbsp;</div>
              <img
                src="/imagenes/tours/<%= element.imageCover %>"
                alt="<% element.nombre %>"
                class="tarjeta--figura-imagen"
              />
            </div>

            <h3 class="titulo-terciario">
              <span><%= element.nombre %></span>
            </h3>
          </div>

          <div class="tarjeta--detalles">
            <h4 class="tarjeta--sub-cabezera">
              <%= `${element.dificultad} ${element.duracion} - dias ` %>
            </h4>
            <p class="tarjeta--texto"><%= element.resumen %></p>
            <div class="tarjeta--datos">
              <svg class="tarjeta--icono">
                <use xlink:href="/imagenes/iconos.svg#icon-map-pin"></use>
              </svg>
              <span><%= element.locacionStart.descripcion %></span>
            </div>
            <div class="tarjeta--datos">
              <svg class="tarjeta--icono">
                <use xlink:href="/imagenes/iconos.svg#icon-calendar"></use>
              </svg>
              <span
                ><%= element.startDates[0].toLocaleString('es-Pe',
                {month:'long', year: 'numeric'}) %></span
              >
            </div>
            <div class="tarjeta--datos">
              <svg class="tarjeta--icono">
                <use xlink:href="/imagenes/iconos.svg#icon-flag"></use>
              </svg>
              <span><%= `${element.locaciones.length} paradas` %></span>
            </div>
            <div class="tarjeta--datos">
              <svg class="tarjeta--icono">
                <use xlink:href="/imagenes/iconos.svg#icon-user"></use>
              </svg>
              <span><%= `${element.maxGroupSize} personas` %></span>
            </div>
          </div>

          <div class="tarjeta--footer">
            <p>
              <span class="tarjeta--footer-valor"><%= element.precio %></span>
              <span class="tarjeta--footer-texto">por persona</span>
            </p>
            <p class="tarjeta--ratings">
              <span class="tarjeta--footer-valor"
                ><%= element.ratingsAverage %></span
              >
              <span class="tarjeta--footer-texto"
                >#Ratings: <%= element.ratingsQuantity %></span
              >
            </p>
            <a
              href="/tour/<%= element.nombreSlugify %>"
              class="boton boton--verde boton--pequeno"
              >detalles</a
            >
          </div>
        </div>
        <% }); %>
      </div>
    </main>
    <!------------------3.0 FOOTER ------------->
    <%- include ("./_footer") %>
  </body>

  <!-- <script src="./../js/home.js"></script> -->
</html>
