  <% function navegadorItem(link,texto,icono,activo){ %> <% const claseActivo =
  activo ? "side-navegador--activo" : "" %>
  <li class="<%= claseActivo %>">
    <a href="<%= link %>">
      <svg>
        <use xlink:href="/imagenes/iconos.svg#icon-<%= icono %>"></use>
      </svg>
      <%= texto %>
    </a>
  </li>
  <% }; %>

  <!DOCTYPE html>
  <html lang="en">
  <%- include ("./_head",{titulo: "App | Perfil"}); %>
  <body>
    <!------------------1.0 CABEZERA ------------->
    <%- include ("./_header"); %>
    <!------------------3.0 MAIN ------------->
    <main class="main">
      <div class="usuario-vista">
        <nav class="usuario-vista--menu">
          <ul class="side-navegador">
            <% navegadorItem("#", "Opciones", "settings", true); %> <%
            navegadorItem("#", "Mi Reservas", "briefcase", false); %> <%
            navegadorItem("#", "Mi Reviews", "star", false); %> <%
            navegadorItem("#", "Facturacion", "credit-card", false); %> <% if
            (usuario.role==="admin"){ %>
            <div class="admin-navegador">
              <h5 class="admin-navegador--titulo">Admin</h5>
              <ul class="side-navegador">
                <% navegadorItem("#", "Manejar Tours", "map", false); %> <%
                navegadorItem("#", "Manejar Usuarios", "users", false); %> <%
                navegadorItem("#", "Manejar Reviews", "star", false); %> <%
                navegadorItem("#", "Manejar Bookings", "briefcase", false); %>
              </ul>
            </div>
            <% }; %>
          </ul>
        </nav>

        <div class="usuario-vista--contenido">
          <div class="usuario-vista--formulario-contenido">
            <h2 class="titulo-secundario quick-facts">Opciones</h2>

            <!-- WITHOUT API -->
            <!-- <form class="" action="/submit-user-data" method="POST"></form> -->

            <!-- WITH API -->
            <form action="" class="">
              <div class="formulario--grupo">
                <label class="formulario--label" for="nombre">Nombre</label>
                <input
                  id="nombre"
                  class="formulario--input"
                  type="text"
                  required
                  name="nombre"
                />
              </div>

              <div class="formulario--grupo quick-facts">
                <label class="formulario--label" for="email">Email</label>
                <input
                  id="email"
                  class="formulario--input"
                  type="text"
                  value="<%= usuario.email %>"
                  required
                  name="email"
                />
              </div>

              <div class="formulario--grupo formulario--foto-upload">
                <img
                  class="formulario--usuario-foto"
                  src="/imagenes/usuarios/<%= usuario.photo %>"
                  alt="foto de <%= usuario.nombre %>"
                />
                <a href="" class="boton-texto">Escoge una foto</a>
              </div>

              <div class="formulario--grupo derecho">
                <button class="boton boton--pequeno boton--verde">
                  Guardar cambios
                </button>
              </div>
            </form>
          </div>

          <div class="linea">&nbsp;</div>

          <div class="usuario-vista--formulario-contenido">
            <h2 class="titulo-secundario quick-facts">Cambiar password</h2>

            <form class="" action="">
              <div class="formulario--grupo">
                <label class="formulario--label" for="password-actual">
                  Actual password
                </label>
                <input
                  class="formulario--input"
                  id="password-actual"
                  type="password"
                  placeholder="Ingresar su password actual"
                  required
                />
              </div>

              <div class="formulario--grupo">
                <label class="formulario--label" for="password">
                  Nuevo Password
                </label>
                <input
                  class="formulario--input"
                  id="password-nuevo"
                  type="password"
                  placeholder="Ingresar su password nuevo"
                  required
                />
              </div>

              <div class="formulario--grupo quick-facts">
                <label class="formulario--label" for="password-confirm">
                  Confirmar Password Nuevo
                </label>
                <input
                  class="formulario--input"
                  id="password-confirm"
                  type="password"
                  placeholder="Confirmar su password nuevo"
                  required
                />
              </div>

              <div class="formulario--grupo derecho">
                <button class="boton boton--pequeno boton--verde">
                  Guardar Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!------------------3.0 FOOTER ------------->
    <%- include ("./_footer") %>
  </body>
</html>
