<!-- NO LO guardes, sino se formatea y todo se malogra -->

<% function resumenBox(label, texto, icono){ %>
<div class="resumen-box--detalles">
  <svg class="resumen-box--icono">
    <use xlink:href="/imagenes/iconos.svg#icon-<%= icono %>"></use>
  </svg>
  <span class="resumen-box--label"><%= label %></span>
  <span class="resumen-box--texto"><%= texto %></span>
</div>
<% }; %> <% function tarjetaReview (elemento){ %>
<div class="reviews--tarjeta">
  <div class="reviews--avatar">
    <img
      class="reviews--avatar-img"
      src="/imagenes/usuarios/<%= elemento.usuarioId.photo %>"
      alt="<%= elemento.usuarioId.nombre %>"
    />
    <h6 class="reviews--usuario"><%= elemento.usuarioId.nombre %></h6>
  </div>
  <p class="reviews--texto"><%= elemento.comentario %></p>

  <div class="reviews--rating">
    <% const miArray = [1,2,3,4,5]; %> <% miArray.forEach(puntaje =>{ %>
    <svg
      class="reviews--estrella reviews--estrella--<%= elemento.calificacion>=puntaje ? 'activo' : 'inactivo' %>"
    >
      <use xlink:href="/imagenes/iconos.svg#icon-star"></use>
    </svg>
    <% });%>
  </div>
</div>
<% }; %>

<!DOCTYPE html>
<html lang="en">
  <%- include ("./_head",{titulo: "App | Tour"}); %>
  <body>
    <!------------------1.0 CABEZERA ------------->
    <%- include ("./_header"); %>

    <!------------------3.0 MAIN ------------->

    <section class="seccion-titulo">
      <div class="titulo--heroe">
        <div class="titulo--heroe-overlay">&nbsp;</div>
        <img
          class="titulo--heroe-imagen"
          src="/imagenes/tours/<%= tour.imageCover %>"
          alt="<%= tour.nombre %>"
        />
      </div>

      <div class="titulo-box">
        <h1 class="titulo-primario">
          <span><%= tour.nombre %></span>
        </h1>
        <div class="titulo-box--grupo">
          <div class="titulo-box--detalles">
            <svg class="titulo-box--icono">
              <use xlink:href="/imagenes/iconos.svg#icon-clock"></use>
            </svg>
            <span class="titulo-box--texto"><%= tour.duracion %> dias</span>
          </div>

          <div class="titulo-box--detalles">
            <svg class="titulo-box--icono">
              <use xlink:href="/imagenes/icons.svg#icon-map-pin"></use>
            </svg>
            <span class="titulo-box--texto">
              <%= tour.locacionStart.descripcion %>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="seccion-descripcion">
      <div class="resumen-box">
        <div>
          <div class="resumen-box--grupo">
            <h2 class="titulo-secundario quick-facts">Preguntas Frecuentes</h2>
            <% const fecha = tour.startDates[0].toLocaleString('es-PE', { month:
            'long', year: 'numeric'}); %> <% resumenBox('Siguiente Fecha', fecha
            , 'calendar'); %> <% resumenBox('Dificultad', tour.dificultad,
            'trending-up'); %> <% resumenBox('Participantes',
            `${tour.maxGroupSize} personas`, 'user'); %> <%
            resumenBox('Calificacion',`${tour.ratingsAverage}/5`, 'star'); %>
          </div>

          <div class="resumen-box--grupo">
            <h2 class="titulo-secundario quick-facts">Tus Guias❗</h2>
            <% tour.misUsuarios.forEach(usuario=>{ %>
            <div class="resumen-box--detalles">
              <img
                class="resumen-box--imagen"
                src="/imagenes/usuarios/<%= usuario.photo %>"
                alt="<%= usuario.nombre %>"
              />
              <% if(usuario.role === 'lider-guia'){ %>
              <span class="resumen-box--label">Lider Guia</span>
              <% }; %> <% if(usuario.role === 'guia'){ %>
              <span class="resumen-box--label">Guia</span>
              <% }; %>
              <span class="resumen-box--texto"><%= usuario.nombre %></span>
            </div>
            <% }); %>
          </div>
        </div>
      </div>

      <div class="descripcion-box">
        <h2 class="titulo-secundario quick-facts">
          Sobre el tour <%= tour.nombre %>
        </h2>
        <% const parrafos = tour.descripcion.split('\n') %> <%
        parrafos.forEach(elemento=>{ %>
        <p class="descripcion--texto"><%= elemento %></p>
        <% }); %>
      </div>
    </section>

    <section class="seccion-imagenes">
      <% tour.imagenes.forEach((elemento, index)=> { %>
      <div class="imagen-box--img">
        <img
          class="imagen-box--img imagen-box--img--<%= index+1 %>"
          src="/imagenes/tours/<%= elemento %>"
          alt="The Park Camper Tour <%= index+1 %>"
        />
      </div>
      <% });%>
    </section>

    <section class="seccion-mapa">
      <div
        id="mapa"
        data-locations="<%= JSON.stringify(tour.locaciones) %>"
      ></div>
    </section>

    <section class="seccion-reviews">
      <div class="reviews">
        <% tour.misReviews.forEach( elemento=> tarjetaReview(elemento) ) %>
      </div>
    </section>

    <section class="seccion-cuenta">
      <div class="cuenta">
        <div class="cuenta--img cuenta--img-logo">
          <img src="/imagenes/logo-white.png" alt="Logo de Natours" />
        </div>
        <img
          class="cuenta--img cuenta--img-1"
          src="/imagenes/tours/<%= tour.imagenes[1] %>"
          alt="Imagen Tour"
        />
        <img
          class="cuenta--img cuenta--img-2"
          src="/imagenes/tours/<%= tour.imagenes[2] %>"
          alt="Imagen Tour"
        />

        <div class="cuenta--contenido">
          <h2 class="titulo-secundario">Que estas esperando?</h2>
          <p class="cuenta--texto">
            <%= tour.duracion %> dias. 01 Aventura ❗ . Infinitas memorias.
            Hazlo tuyos hoy!
          </p>
          <button class="boton boton--verde span--all--rows">
            Libro Tour Ahora!
          </button>
        </div>
      </div>
    </section>

    <!------------------3.0 FOOTER ------------->
    <%- include ("./_footer") %>
  </body>
</html>
